# macOS
.DS_Store

# Python
venv/
__pycache__/
*.py[cod]

# Logs and system files
*.log
*.ldb
*.journal
*.lock
*.bak

# Chrome-like userdata (only track what you absolutely must)
user_data/Default/
user_data/*/Cache/
user_data/*/IndexedDB/

user_data/optimization_guide_model_store/
